.main {
  max-width: 1200px;
  margin: 0 auto;
}
/* about */
.about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about__container-header {
  width: 50%;
  flex-direction: column;
}

.about__container-text {
  width: 50%;
  margin-right: 50px;
}

/* Skills */
.skill {
  padding: 35px 120px;
}

.skill__title {
  margin-bottom: 30px;
}

/* Grid cards */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  gap: 20px;
}

/* footer */
.footer__container {
  flex-direction: row;
  padding: 15px 70px;
}

.footer__container-title {
  margin-bottom: 20px;
}

.footer__container-contact {
  width: 30%;
}

.footer__container-contact a {
  font-size: 2.5rem;
  color: #ffffff;
}
