/* Estilos comunes del proyecto */
:root {
  --primary-color: #0d264d;
  --secondary-color: #0a192f;
  --text-primary-color: gold;
  --text-secondary-color: #ffffff;
  --shadow-color: #000000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background: rgb(10, 25, 47);
  background: linear-gradient(
    145deg,
    rgba(10, 25, 47, 1) 53%,
    rgba(79, 70, 0, 1) 100%
  );
}
