/* Header */
.header {
  width: 100%;
  min-width: 300px;
  height: 75px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 2px 2px 10px var(--shadow-color);
}

.header__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__title-name {
  display: none;
}

.header__title-img {
  width: 65px;
  height: 65px;
}
.header__title-img img {
  border-radius: 50px;
}

/* Header button */
.header__button {
  width: 45px;
  height: 35px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header__button-1,
.header__button-2,
.header__button-3 {
  display: inline-block;
  width: 50%;
  height: 2.5px;
  background-color: var(--primary-color);
  transition: 0.3s ease;
}

/* Transform menu hamburger */
.change .header__button-1 {
  transform: translateY(7px) rotateZ(45deg);
}

.change .header__button-2 {
  opacity: 0;
}

.change .header__button-3 {
  transform: translateY(-7px) rotateZ(-45deg);
}

/* Header Nav */
.header__nav {
  width: 75vw;
  height: 100vh;
  border-left: 1px solid var(--text-primary-color);
  position: fixed;
  z-index: 2;
  top: 75px;
  right: -77vw;
  background-color: var(--primary-color);
  transition: transform 0.7s ease;
}

.header__nav ul {
  height: 65vh;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 0;
}

.header__nav ul a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-secondary-color);
}

.header__nav-latest {
  border: var(--text-primary-color) solid 1px;
  border-radius: 4px;
  padding: 10px;
}

/* Estilo que hace aparecer el listado  menu */
.change__menu {
  transform: translateX(-77vw);
}

/* Media queries */
/* Tablet */
@media screen and (width >= 768px) {
  .header__nav {
    border-left: none;
  }

  .header__button {
    display: none;
  }

  .header__title {
    width: 290px;
  }

  .header__title-name {
    display: block;
    font-size: 2.8rem;
    line-height: 1.8rem;
  }

  .header__title-name a {
    text-decoration: none;
    color: var(--text-secondary-color);
  }

  .header__title-name a span {
    color: var(--text-primary-color);
  }

  .header__nav {
    position: static;
    width: 400px;
    height: 50px;
  }

  .header__nav ul {
    height: 50px;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .change__menu {
    transform: translateX(0vw);
  }
}

/* Desktop */
@media screen and (width >= 1024px) {
  .header {
    padding: 0 55px;
  }

  .header__nav {
    width: 600px;
  }

  .header__nav ul a {
    font-size: 2rem;
  }

  .header__nav ul a:hover {
    color: var(--text-primary-color);
  }

  .header__nav-latest {
    border: var(--text-primary-color) solid 1px;
    border-radius: 4px;
    padding: 10px;
  }
}
