/* Proyectos */
.projects {
  width: 100%;
  min-width: 300px;
  padding: 0 10px;
}

.card__title {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-secondary-color);
  margin-top: 10px;
  margin-left: 15px;
  padding: 10px 0;
}

.card__container {
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.card__container-img {
  width: 100%;
}

.card__container-img img {
  width: 100%;
  border-radius: 5px;
}

.card__container-description {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__container-description p {
  font-size: 1.6rem;
  color: var(--text-secondary-color);
}

.card__container-title {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text-secondary-color);
  padding-bottom: 20px;
}

.card__container-text {
  font-size: 1.6rem;
  color: var(--text-secondary-color);
  padding-bottom: 20px;
}

.card__container-button {
  width: 80px;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container-button a {
  font-size: 2.5rem;
  color: var(--text-secondary-color);
}

/* Media queries */
/* Tablet */
@media screen and (width >= 768px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .card__container {
    margin: 0;
  }
}

/* Desktop */
@media screen and (width > 1024px) {
  .projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .projects__container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}
