/* header */
.header__button {
  display: none;
}

/* header title */
.header__title {
  width: 290px;
}

.header__title-name {
  display: block;
  font-size: 2.8rem;
  line-height: 1.8rem;
}

.header__title-name a {
  text-decoration: none;
  color: #ffffff;
}

.header__title-name a span {
  color: var(--color-text);
}

.header__nav {
  position: static;
  width: 400px;
  height: 50px;
}

.header__nav ul {
  height: 50px;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Estilo que hace aparecer el listado  menu */
.change__menu {
  transform: translateX(0vw);
}

/* Grid cards */
.projects {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(430px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: minmax(250px, 1fr); */
  gap: 5px;
  padding: 20px;
}
