/* About */
.about {
  width: 100%;
  min-width: 320px;
  padding: 10px;
  padding-top: 0px;
}

.about__container {
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.about__container-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about__container-header--img {
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about__container-header--title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 5px;
}

.about__container-header--title span {
  color: var(--color-text);
}

.about__container-header--desc {
  font-size: 1.8rem;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 15px;
  white-space: nowrap;
}

.about__container-text {
  padding: 5px;
}

.about__container-text p {
  font-size: 1.6rem;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: justify;
}

.about__container-contact {
  width: 180px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__container-contact a {
  font-size: 2.5rem;
  color: #ffffff;
}

/* Skills */
.skill {
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 5px;
}

.skill__title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #ffffff;
}

.skills__title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #ffffff;
  margin-left: 15px;
  padding: 10px 0;
}

.skills__container {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--color-secondary);
  padding: 10px;
  padding-top: 13px;
}

.skill__progress {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.skill__progress-title {
  width: 40px;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.skill__progress-container {
  margin: auto;
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill__progress-container--bar {
  position: relative;
  top: 9px;
  width: 85%;
  height: 10px;
  border-radius: 30px;
  background: #e2e2e2;
  margin-bottom: 15px;
}

.progressing__bar {
  height: 100%;
  background-color: var(--color-text);
  border-radius: 30px;
}

.progressing__circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffff;
  border: 3px solid var(--color-text);
  border-radius: 50%;
  transform: translateY(-5px) translateX(-5px);
}

.skill__progress-container--percent {
  width: 35px;
  font-size: 1.8rem;
  color: #ffffff;
  margin-left: 30px;
}

/* Proyectos */
.card__title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #ffffff;
  margin-left: 15px;
  padding: 10px 0;
}

.card {
  width: 100%;
  min-width: 320px;
  background-color: var(--color-secondary);
  padding: 10px;
  padding-top: 13px;
}

.card__container {
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 5px;
}

.card__container-img {
  width: 100%;
}

.card__container-img img {
  width: 100%;
  border-radius: 5px;
}

.card__container-description {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__container-description p {
  font-size: 1.6rem;
  color: #ffffff;
}

.card__container-title {
  font-size: 2.4rem;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 20px;
}

.card__container-text {
  font-size: 1.6rem;
  color: #ffffff;
  padding-bottom: 20px;
}

.card__container-button {
  width: 80px;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container-button a {
  font-size: 2.5rem;
  color: #ffffff;
}

/* Footer */
.footer {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  height: auto;
  background-color: var(--color-secondary);
  padding: 10px;
  padding-top: 13px;
}

.footer__container {
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__container-title {
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer__container-contact {
  width: 50%;
  width: 180px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.footer__container-contact a {
  font-size: 2.5rem;
  color: #ffffff;
}
